remote_theme: "mmistakes/minimal-mistakes@4.24.0" # Use a stable version number
plugins:
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache